<section class="product_lists">
    <h1>Most Product Sales</h1>
    <p class="notes">Arsie Store for Ukur Kreasi Nusantara</p>
    <ul infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown($event)">
        <li *ngFor="let product of productList; let i= index;">
            <div class="featured_image" style="background-image: url('{{ product.thumbnail }}');"><span>#{{ i+1 }}</span></div>
            <div class="featured_info">
                <h1>{{ product.title }}</h1>
                <h2>{{ product.brand }}</h2>
                <span><fa-icon [icon]="faFolder" class="category"></fa-icon> {{ product.category }} | <fa-icon [icon]="faStar" class="rating"></fa-icon> {{ product.rating }}</span>
                <p>{{ product.description }}</p>
            </div>
            <button (click)="deleteItem(product.id)" class="btn-delete"><fa-icon [icon]="faTrash" class="delete"></fa-icon> Delete Item</button>
        </li>
    </ul>
</section>