section.product_lists
    padding: 15px
    h1
        margin-bottom: 0
    .notes
        color: #3d3d3d
    ul
        list-style: none
        margin: 0
        padding: 0
        li
            position: relative
            display: flex
            width: 100%
            height: 100%
            min-height: 20vh
            box-shadow: 0px 2.2px 2.2px rgba(0, 0, 0, 0.02),0px 5.4px 5.3px rgba(0, 0, 0, 0.028),0px 10.1px 10px rgba(0, 0, 0, 0.035)
            border-radius: 5px
            margin-bottom: 30px
            overflow: hidden
            .featured_image
                position: relative
                width: 40%
                min-height: 20vh
                background-size: 100% auto
                background-position: center center
                background-repeat: no-repeat
                background-color: #000
                span
                    position: absolute
                    top: 0
                    left: 0
                    background: rgba(#3792a8, .8)
                    color: #fff
                    width: 30px
                    height: 25px
                    display: flex
                    justify-content: center
                    align-items: center
                    font-size: 12px
                    font-weight: bold
                    border-radius: 0 0 5px 0
            .featured_info
                position: relative
                width: 60%
                height: 100%
                padding: 8px 12px
                h1
                    font-size: 16px
                    font-weight: 500
                    margin-bottom: 3px
                h2
                    font-size: 12px
                    font-weight: 400
                    margin-bottom: 5px
                    color: #5f5f5f
                span
                    display: block
                    font-size: 10px
                    margin-bottom: 5px
                    color: #595959
                    .rating
                        color: #f3b739
                    .category
                        color: #64a8b9
                p
                    font-size: 10px
            .btn-delete
                position: absolute
                bottom: 0
                right: 0
                border: none
                background: rgba(#fa0000, .8)
                color: #fff
                font-size: 10px