/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
@import '~ngx-toastr/toastr'
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap')

body
    display: flex
    justify-content: center
    background-color: #f7f7f7
    main
        font-family: 'Poppins', sans-serif
        background-color: #fff
        width: 100%
        max-width: 480px!important
        min-height: 100vh
    .toast-container
        width: 100%
        margin-top: 5px